*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, black, rgb(25, 25, 69));
    height: 100vh;
    display: flex;
    /*centralizando a div*/
    align-items: center ;
    justify-content: center;
}

.tela-login{
    background-color: rgb(2, 3, 33);
    color: aliceblue;
    width: 340px;
    padding: 20px;
    /*arrendondamento de bordas*/
    /*arrendondamento de bordas*/
    border-radius: 8px;
    /*sombra*/
    box-shadow: 0 4px 10px rgb(70, 70, 70);
    /*elementos um abaixo do outro*/
    display: grid;
    /*espaçamento entre os elementos*/
    gap: 16px;
    
}
form{
    display: grid;
    gap: 12px;
}
h1{
    text-align: center;
    /*fonte com iniciais maiúsculas*/
    text-transform:  capitalize;
    color: rgb(13, 51, 84);
    
}
.tela-login form input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid;
    /*linhas ao redor do input*/
    outline: none;
    border-color: rgb(9, 21, 49);
}
input[type="submit"]{
    background-color: rgb(74, 74, 149);
    color: aliceblue;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
a{
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: rgb(98, 96, 96);
}